body {
    background-color: rgb(238, 238, 238);
}

h1 {
    color:rgb(0, 180, 39);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif
}

.list {
    margin: 30px;
}

.picture {
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    font-size: 20px;
    padding: 10px 0;
}